$grid_margin: percentage(30 / 1440);
$grid_gutter: percentage(30 / (1440 - 40 * 2));

.wrapper {
  max-width: 100%;
  width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 $grid_gutter;
  padding: 0 $grid_gutter 60px;
  background-color: #fff;
  border-radius: 10px;
}
